<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8"/>
        <title>Tell Me When Notification</title>
    </head>
    <body>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>&nbsp;</td>
        <tr>
        <tr>
          <td align="center" style="text-center;"><h1 style="font-family:
          helvetica; font-weight: bold; font-size: 24px; color:
          #666;">{{ event }}</h1></td>
            <!--
          <td align="center" style="text-center;"><h1 style="font-family:
          helvetica; font-weight: bold; font-size: 24px; color:
          #666;">Hello,
          <span style="color: #1976D2;">{{url}}</span> {{check_status}} a {{check_type}}
          that responded with {{check_value}} after {{num_checks}} checks.</h1></td>
        </tr>
            -->
        <!--<tr>
          <td align="center" style="text-center;"><h1 style="font-family: helvetica; font-weight: normal; font-size: 24px; color: #666;">Hello, unfortunately your event failed to complete successfully</h1></td>
        </tr>-->
        <tr>
          <td>&nbsp;</td>
        <tr>
          <td align="center" style="background-color: #F4F9FD; padding-top: 20px; padding-bottom: 20px;">
            <table>
              <tr>
                <td><p style="font-family: helvetica; color: #2784DC; font-weight: normal;">Brought to you by:</p></td>
                <td><img src="http://cpenner461.github.io/tellmewhen/img/logo.png" alt="Tell Me When" width="40" height="34"></td>
                <td><p style="font-family: helvetica; color: #2784DC; font-weight: normal;">Tell Me When</p></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
</html>
