<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8"/>
        <title>Tell Me When Notification</title>
    </head>
    <body>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>&nbsp;</td>
        <tr>
        <tr>
          <td align="center" style="text-center;"><h1 style="font-family: arial; font-weight: bold; font-size: 24px; color: #666;">Hello, <span style="color: #1976D2;">http://www.cnn.com/events</span> is responding with 500</h1></td>
        </tr>
        <!--<tr>
          <td align="center" style="text-center;"><h1 style="font-family: arial; font-weight: normal; font-size: 24px; color: #666;">Hello, unfortunately your event failed to complete successfully</h1></td>
        </tr>-->
        <tr>
          <td>&nbsp;</td>
        <tr>
          <td align="center" style="background-color: #F4F9FD; padding-top: 20px; padding-bottom: 20px;">
            <table>
              <tr>
                <td><p style="font-family: arial; color: #2784DC; font-weight: normal;">Brought to you by:</p></td>
                <td><img src="/static/img/logo.png" alt="Tell Me When" width="40" height="34"></td>
                <td><p style="font-family: arial; color: #2784DC; font-weight: normal;">Tell Me When</p></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
</html>
