{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <form action="/settings" method="post">
    <div class="col-sm-4">
      <div class="form-group">
          <h2><i class="fa fa-envelope"></i> SMTP</h2>
          <label for="smtp-username">Username:</label>
          <input type="text" name="smtp-username" class="form-control">
          <br>
          <label for="smtp-sender">Sender:</label>
          <input type="text" name="smtp-sender" class="form-control">
          <br>
          <label for="smtp-recipients">Recipients:</label>
          <input type="text" name="smtp-recipients" class="form-control">
          <br>
          <label for="smtp-server">Server:</label>
          <input type="text" name="smtp-server" class="form-control">
          <br>
          <label for="smtp-port">Port:</label>
          <input type="number" name="smtp-port" class="form-control">
          <br>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
          <h2><i class="fa fa-slack"></i> Slack</h2>
          <label for="slack-username">Username:</label>
          <input type="text" name="slack-username" class="form-control">
          <br>
          <label for="slack-channel">Channel:</label>
          <input type="text" name="slack-channel" class="form-control">
          <br>
      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert">Settings saved!</div>
  <input type="submit" class="btn btn-primary" Value="Done">
  </form>
</div>


{% endblock %}
