/* Custom */

.success {
  color: #4CAF50;
}

.failure {
  color: #D32F2F;
}

.cancel {
  color: #9E9E9E;
}

/* Bootstrap Overrides */

.panel-heading {
  font-weight: bold;
}

/* Event builder statement */
.event-builder {
	margin:100px 0;
	text-align:center;
}

.event-builder li {
	display:inline-block;
}

.event-builder li.string {
	display:none;
}

.form-control {
	line-height:1.4;
}

#builder form {
	background-color:#ddd;
	display:block;
	margin-top:30px;
	padding:1px 0;
}
