h1 { color: #ff0000 }

/* Custom */

.success {
  color: #4CAF50;
}

.failure {
  color: #D32F2F;
}

.cancel {
  color: #9E9E9E;
}

/* Bootstrap Overrides */

.panel-heading {
  font-weight: bold;
}

/* Event builder statement */
.event-builder {
	margin:100px 0;
	text-align:center;
}

.event-builder li {
	display:inline-block;
}

.event-builder li.string {
	display:none;
}
